<html>
<head>
 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"/>
 <link rel="stylesheet" type="text/css" href="css/widget_style.css"/>
 <link rel="stylesheet" type="text/css" href="css/jquery.datetimepicker.css"/>
 <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>
 <script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js'></script>
 <script src="/socket.io/socket.io.js"></script>
 <script src="js/masonry.pkgd.min.js"></script>
 <script src="js/imagesloaded.pkgd.min.js"></script>
 <script src="js/jquery.datetimepicker.js"></script>
 <script>
  function sendMessage(socket, commandstring, meta) {
    socket.emit('send', {message: commandstring, content: meta });
  }

  window.onload = function() {
    var $container = $('#container');
    // initialize
    $container.imagesLoaded(function () {
      $container.masonry({
        columnWidth: 264,
        itemSelector: '.panel'
      })
    });

    var messages = [];
    var hostname = 'http://'+document.location.hostname+':1337';
    var socket = io.connect(hostname);

      //*----- SCENE -----*//

    $('#refreshscenes').click(function() { requestScenes(); });
    $('#scenebutton').click(function() { prepTransition('full'); });
    $('#scenedropbutton').click(function() { prepTransition('inOnly'); });
    $('#raiseshutters').click(function() { prepTransition('outOnly'); });

    var obsRemoteURL = 'ws://192.168.1.2:4444';
    var obsSocket = new WebSocket(obsRemoteURL, "obsapi");
    checkOBSSocket();

    function checkOBSSocket() {
      //re-open the socket if it is not "OPEN" (1)
      if (obsSocket.readyState != 1) {
        obsSocket.close();
        if ($('#obsip').val()) {
          obsRemoteURL = 'ws://' + $('#obsip').val();
        }
        obsSocket = new WebSocket(obsRemoteURL, "obsapi");
        obsSocket.onopen = function (e) { requestScenes(); };
        obsSocket.onmessage = function (e) {
          var msgParsed = JSON.parse(e.data);
          if (!msgParsed.scenes) {
            return;
          }

          var numScenes = msgParsed.scenes.length;
          var options = $('#sceneselect').html();
          var newoptions = "";
          for (var i = 0; i < numScenes; i++) {
            newoptions += "<option>"+ msgParsed.scenes[i].name +"</option>";
          }

          //don't replace if nothing has changed
          if (newoptions != options) {
            $('#sceneselect').html(newoptions);
          }
        };

        console.log("[SCENE] re-opening OBS socket");
        return true;
      }

      return false;
    }

    function requestScenes() {
      if (checkOBSSocket() == true) {
        //the socket wasn't connected, so let's give it time to open
        //it will call "requestScenes" automatically once it re-establishes
        return;
      } else {
        //socket is already open, do the work immediately
        doWork();
      }

      function doWork() {
        var sceneRequest = {};
        sceneRequest["request-type"] = "GetSceneList";

        obsSocket.send(JSON.stringify(sceneRequest));
      }
    }

    function prepTransition(type, scene, rand) {
      //get new list of scenes
      requestScenes();

      //get values from drop down select boxes
      var anim = $('#transitionselect').find("option:selected").val();
      scene = typeof scene !== 'undefined' ? scene : $('#sceneselect').find("option:selected").val();

      //pick a random anim if rand == true
      rand = typeof rand !== 'undefined' ? rand : false;
      if (rand == true) {
        var max = 2 //number of anims
        var min = 1;
        switch (Math.floor(Math.random() * (max - min + 1)) + min) {
          case 1:
            anim = 'drop';
            break;
          case 2:
            anim = 'angle';
            break;
        }
      }

      var msg = {'anim': anim, 'type': type, 'scene': scene};
      sendMessage(socket, 'transition', JSON.stringify(msg));
    }


    //*----- Rules -----*//

    var rules = [
                  ["Early first blood", 5],
                  ["First blood", 3],
                  ["Late first blood", 4],
                  ["Kill", 1],
                  ["T1 down", 1],
                  ["T2 down", 2],
                  ["T3 down", 3],
                  ["T4 down", 4],
                  ["Rax down", 3],
                  ["Ancients killed", "Finish your drink!"],
                  ["Roshan", 2],
                  ["Aegis stolen/denied", 10],
                  ["Fail-ult", 2],
                  ["Shitty casting", 2],
                  ["Deny", 3],
                  ["Rapier bought", 10],
                  ["Rapier dropped", 5],
                  ["Gem dropped", 2],
                  ["Crit > 1000", 1],
                  ["Stuck on a cliff", "Drink for every 5 seconds they are stuck."],
                  ["Team wipe", 2],
                  ["Kill streak ended", "Drink for each kill of the streak."],
                  ["Die-back", 5],
                  ["Wasted DD", 5],
                  ["Haste", "Waterfall until they move."],
                  ["Regen cancelled", 2],
                  ["Regen cancelled by creep", 5],
                  ["Illusion on spawn", 1],
                  ["Denied by neutrals", 3],
                  ["Killed by neutrals", 7],
                  ["Viva Potato drinks", "You laugh as he drinks everything!"],
                  ["Brewmaster crit", 1],
                  ["Trombone", 1],
                  ["Thunderclap", 1],
                  ["Brewmaster Ult", "Drink 3 (correctly coloured) shots!"],
                  ["A Large Asteroid Has Joined The Stream", "Cheer and drink a bit!"]
                ]

    //*----- Lo3rd -----*//
    var total = 0;

    function prepLowerThird(event) {
      // sendMessage(socket, 'hidelowerthird');
      $('#hastebutton').css('background', 'rgba(0, 0, 0, 0)');
      isHasteClicked = false;
      var title = event.data.rule + "!";
      var text;
      if ($.isNumeric(event.data.sips))
      {
        total += event.data.sips;
        text = "Drink " + event.data.sips;
        if (event.data.sips == 1)
          text += " sip";
        else
          text += " sips";
        text += " (" + total + " so far).";
      }
      else
      {
        text = event.data.sips;
      }
      var lowerthird = {'title': title, 'text': text, 'duration': 2};
      var lowerthirdJSON = JSON.stringify(lowerthird);
      sendMessage(socket, 'pulselowerthird', lowerthirdJSON);
    }
    for (var i = 0; i < rules.length; i++)
    {
      var button = $('<button type="button">'+rules[i][0]+'</button>')
      button.click({'rule': rules[i][0], 'sips': rules[i][1]}, prepLowerThird);
      $('#lowerthird').append(button);
    }

    // ----- Special rules -----
    // Haste waterfall
    var isHasteClicked = false;
    $('#hastebutton').click(function()
    {
      isHasteClicked = !isHasteClicked;
      if (isHasteClicked)
      {
        $('#hastebutton').css('background', 'red');
        var lowerthird = {'title': 'Haste!', 'text': 'Waterfall until they move.'};
        var lowerthirdJSON = JSON.stringify(lowerthird);
        sendMessage(socket, 'showlowerthird', lowerthirdJSON);
      }
      else
      {
        $('#hastebutton').css('background', 'rgba(0, 0, 0, 0)');
        sendMessage(socket, 'hidelowerthird', '');
      }
    });

    // Killstreak end
    $('#killstreakbutton').click(function()
    {
      var kills = $('#killstreakcount').val();
      if (!$.isNumeric(kills))
        kills = $('#killstreakname')[0].selectedIndex + 3;
      kills = parseInt(kills, 10);
      event = {};
      event.data = {
        'rule': kills+"-kill streak ended",
        'sips': kills
        };
      prepLowerThird(event);
      $('#killstreakcount').val('');
    });
  }
 </script>
</head>
<body>
<div id="wrapper">
<div id="container">
    <div class="panel" id="lowerthird"></div>
    <div class="panel" id="speciallowerthird">
      <button type="button" id="hastebutton">Haste</button>
      <button type="button" id="killstreakbutton">End killstreak</button>
      <input type="field" id="killstreakcount" style="width:100%" />
      <select id="killstreakname">
        <option>Killing Spree</option>
        <option>Dominating</option>
        <option>Mega Kill</option>
        <option>Unstoppable</option>
        <option>Wicked Sick</option>
        <option>Monster Kill</option>
        <option>Godlike</option>
      </select>
    </div>
    <div class="panel">
        <span class="heading">Scene Changing:</span>
        <i class="fa fa-video-camera"></i>
        <div class="triplet"><div class="row">
        </div></div>
        <div class="button">Transition type: <select id="transitionselect">
          <option>drop</option>
          <option>angle</option>
        </select></div>
        <div class="triplet"><div class="row">
          <div class="button"><button type="button"id="scenebutton">Change scene (auto drop/raise)</button></div>
          <div class="button"><button type="button"id="scenedropbutton">Change scene (drop only)</button></div>
        </div></div>
        <button type="button" id="raiseshutters" class="hidebutton">Raise Shutters</button>
    </div>
</div>
</div>
</body>
</html>
