<html>
<head>
 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"/>
 <link rel="stylesheet" type="text/css" href="css/widget_style.css"/>
 <link rel="stylesheet" type="text/css" href="css/jquery.datetimepicker.css"/>
 <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>
 <script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js'></script>
 <script src="/socket.io/socket.io.js"></script>
 <script src="js/masonry.pkgd.min.js"></script>
 <script src="js/imagesloaded.pkgd.min.js"></script>
 <script src="js/jquery.datetimepicker.js"></script>
 <script>
  function sendMessage(socket, commandstring, meta) {
    socket.emit('send', {message: commandstring, content: meta });
  }

  window.onload = function() {
    var $container = $('#container');
    // initialize
    $container.imagesLoaded(function () {
      $container.masonry({
        columnWidth: 264,
        itemSelector: '.panel'
      })
    });

    var messages = [];
    var hostname = 'http://'+document.location.hostname+':1337';
    var socket = io.connect(hostname);

    //*----- Rules -----*//

    var rules = [
                  ["Early first blood", 5],
                  ["First blood", 3],
                  ["Late first blood", 4],
                  ["Kill", 1],
                  ["T1 down", 1],
                  ["T2 down", 2],
                  ["T3 down", 3],
                  ["T4 down", 4],
                  ["Rax down", 3],
                  ["Ancients killed", "the-number-required-to-finish-your-drink"],
                  ["Roshan", 2],
                  ["Aegis stolen/denied", 10],
                  ["Fail-ult", 2],
                  ["Shitty casting", 2],
                  ["Deny", 3],
                  ["Rapier bought", 10],
                  ["Rapier dropped", 5],
                  ["Gem dropped", 2],
                  ["Crit > 1000", 1],
                  ["Stuck on a cliff", "one-per-five-seconds"],
                  ["Team wipe", 2],
                  ["Kill streak ended", "killstreak-length"],
                  ["Die-back", 5],
                  ["Wasted DD", 5],
                  ["Wasted haste", "waterfall"],
                  ["Regen cancelled", 2],
                  ["Regen cancelled by creep", 5],
                  ["Illusion on spawn", 1],
                  ["Denied by neutrals", 3],
                  ["Killed by neutrals", 7],
                  ["Viva Potato drinks", "everything"],
                  ["Testing happens", "Henderson finishes the Absinthe"],
                  ["Brewmaster crit", 1],
                  ["Trombone", 1],
                  ["Thunderclap", 1],
                  ["Brewmaster Ult", "3 shots instead of"]
                ]

    //*----- Lo3rd -----*//
    var total = 0;

    function prepLowerThird(event) {
      // sendMessage(socket, 'hidelowerthird');
      var title = event.data.rule + "!";
      if ($.isNumeric(event.data.sips))
        total += event.data.sips;
      var text = "Drink " + event.data.sips;
      if (event.data.sips == 1)
        text += " sip."
      else
        text += " sips."
      text += " (" + total + " so far)";
      var lowerthird = {'title': title, 'text': text, 'duration': 10};
      var lowerthirdJSON = JSON.stringify(lowerthird);
      sendMessage(socket, 'pulselowerthird', lowerthirdJSON);
    }

    for (var i = 0; i < rules.length; i++)
    {
      var button = $('<button type="button">'+rules[i][0]+'</button>')
      button.click({'rule': rules[i][0], 'sips': rules[i][1]}, prepLowerThird);
      $('#lowerthird').append(button);
    }
  }
 </script>
</head>
<body>
<div id="wrapper">
<div id="container">
    <div class="panel" id="lowerthird"></div>
</div>
</div>
</body>
</html>
